* {
  margin: 0;
  padding: 0;
}

body {
  color: black;
  background-color: #fdfdfd;
  font-family: "Bitsream Vera Sans",Helvetica,Arial,sans-serif;
}

h1 {
  background-image: linear-gradient(to bottom right, #125475, #3eb5f0);
  color: #eee;
  padding: 5px 15px;
  font-weight: normal;
  font-size: 1.5rem;
}

h2 {
  font-size: 0.75rem;
  font-weight: normal;
  color: #333;
}

textarea, button, select {
  border: 1px solid #ccc;
  background-color: white;
}

textarea {
  font-size: 1.1rem;
  width: 99%;
  padding: 3px;
}

footer {
  text-align: center;
  font-size: smaller;
  margin-top: 40px;
  color: #777;
  clear: both;
}

footer a {
  color: #00B;
  text-decoration: none;
}

input[type="checkbox"] {
  vertical-align: auto;
}

label {
  vertical-align: top;
  font-size: 0.9rem;
  padding-right: 5px;
}

#options {
  background-color: #eee;
  padding: 5px 10px;
  margin-bottom: 15px;
}

#input {
  margin: 15px auto;
  width: 96%;
}

#tree {
  display: flex;
  align-items: center;
  justify-content: center;
}

#tip {
  margin-top: 40px;
  color: #555;
  text-align: center;
  font-style: italic;
}

#version {
  position: absolute;
  right: 2px;
  top: 2px;
  color: #BBB;
  font-size: 0.8em;
}

#parse-error {
  color: #666;
  height: 0.7em;
  font-size: 0.7em;
  display: block;
}

#canvas {
  cursor: pointer;
}