* {
  margin: 0;
  padding: 0;
}

body {
  color: black;
  background-color: #fdfdfd;
  font-family: "Bitsream Vera Sans", Helvetica, Arial, sans-serif;
}

h1 {
  background-image: linear-gradient(to bottom right, #125475, #3eb5f0);
  color: #eee;
  padding: 5px 15px;
  font-weight: normal;
  font-size: 1.5rem;
}

h2 {
  font-size: 0.75rem;
  font-weight: normal;
  color: #333;
}

textarea,
button,
select {
  border: 1px solid #ccc;
  background-color: white;
}

textarea {
  width: 99%;
  z-index: 2;
  resize: vertical;
}

textarea,
#highlight {
  font-family: monospace;
  font-size: 1.1rem;
  padding: 3px;
  box-sizing: border-box;
  white-space: pre-wrap;
  word-wrap: break-word;
}

footer {
  text-align: center;
  font-size: smaller;
  margin-top: 40px;
  color: #777;
  clear: both;
}

footer a {
  color: #00b;
  text-decoration: none;
}

input[type="checkbox"] {
  vertical-align: auto;
}

label {
  vertical-align: top;
  font-size: 0.9rem;
  padding-right: 5px;
}

#options {
  background-color: #eee;
  padding: 5px 10px;
  margin-bottom: 15px;
}

#input {
  margin: 15px auto;
  width: 96%;
}

#tree {
  display: flex;
  align-items: center;
  justify-content: center;
}

#tip {
  margin-top: 40px;
  color: #555;
  text-align: center;
  font-style: italic;
}

#version {
  position: absolute;
  right: 2px;
  top: 2px;
  color: #bbb;
  font-size: 0.8em;
}

#parse-error {
  color: #666;
  height: 0.7em;
  font-size: 0.7em;
  display: block;
}

#canvas {
  cursor: pointer;
}

#editor {
  position: relative;
  width: 100%;
  height: fit-content;
}

#highlight {
  position: absolute;
  top: 0;
  left: 0;
  color: transparent;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
  z-index: 1;
  border: 1px solid transparent;
}

mark {
  background: rgba(255, 255, 0, 0.3);
}
